<div class="mx-auto py-24 section bg-white w-full">
  <div class="section__item">
    <img class="h-24"  src="assets/img/section/iconOne.png" alt="">
    <p class="pl-4 opacity-80">Eventos <br> Especiales</p>
  </div>
  <div class="section__item">
    <img class="h-24" src="assets/img/section/iconTwo.png" alt="">
    <p class="pt-2 pl-4 opacity-80">Cumpleaños</p>
  </div>
  <div class="section__item">
    <img class="h-24" src="assets/img/section/iconThree.png" alt="">
    <p class="pt-2 pl-4 opacity-80">Cantabares</p>
  </div>
  <div class="section__item">
    <img class="h-24" src="assets/img/section/iconFour.png" alt="">
    <p class="pt-2 pl-4 opacity-80">Festejos <br>
      Navideños</p>
  </div>
</div>
