




<div class="w-full dropdown">
    <div class="flex w-full py-2 mt-2 text-2xl bg-white rounded-lg shadow-md cursor-pointer opacity-60">
        <div class='w-1/6'>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 ml-4" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
            </svg>
        </div>
        <div class='w-4/6'>
            <ul>
                Ubicacion
            </ul>
        </div>
        <div class='w-1/6'>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </div>

    </div>
    <div class="h-32 space-y-2 overflow-y-scroll dropdown-content">
        <li class="flex cursor-pointer"><img class="h-4 mr-2 lg:w-8 lg:h-8" src="/assets/img/dropdown/Argentina.png"> Argentina</li>
        <li class="flex cursor-pointer"><img class="h-4 mr-2 lg:w-8 lg:h-8" src="/assets/img/dropdown/Brasil.png"> Brasil</li>
        <li class="flex cursor-pointer"><img class="h-4 mr-2 lg:w-8 lg:h-8" src="/assets/img/dropdown/Chile.png"> Chile</li>
        <li class="flex cursor-pointer"><img class="h-4 mr-2 lg:w-8 lg:h-8" src="/assets/img/dropdown/Colombia.png"> Colombia</li>
        <li class="flex cursor-pointer"><img class="h-4 mr-2 lg:w-8 lg:h-8" src="/assets/img/dropdown/CostaRica.png"> Costa Rica</li>
        <li class="flex cursor-pointer"><img class="h-4 mr-2 lg:w-8 lg:h-8" src="/assets/img/dropdown/Ecuador.png"> Ecuador</li>
        <li class="flex cursor-pointer"><img class="h-4 mr-2 lg:w-8 lg:h-8" src="/assets/img/dropdown/Espana.png"> España</li>
        <li class="flex cursor-pointer"><img class="h-4 mr-2 lg:w-8 lg:h-8" src="/assets/img/dropdown/Mexico.png"> México</li>
        <li class="flex cursor-pointer"><img class="h-4 mr-2 lg:w-8 lg:h-8" src="/assets/img/dropdown/Paraguay.png"> Paraguay</li>
        <li class="flex cursor-pointer"><img class="h-4 mr-2 lg:w-8 lg:h-8" src="/assets/img/dropdown/Peru.png"> Perú</li>
        <li class="flex cursor-pointer"><img class="h-4 mr-2 lg:w-8 lg:h-8" src="/assets/img/dropdown/Uruguay.png"> Uruguay</li>
        <li class="flex cursor-pointer"><img class="h-4 mr-2 lg:w-8 lg:h-8" src="/assets/img/dropdown/USA.png"> USA</li>
        <li class="flex cursor-pointer"><img class="h-4 mr-2 lg:w-8 lg:h-8" src="/assets/img/dropdown/Venezuela.png"> Venezuela</li>
</div>
