<div class="flex flex-row w-5/6 mx-auto">
  <div class="w-1/2">
    <img class="hidden mt-4 h-7 lg:block" src="assets/img/logoPlusTitle.png" alt=""/>
    <img class="h-6 mt-4 lg:hidden" src="assets/img/footer/logo.png" alt=""/>

  </div>

  <div class="flex justify-end w-1/2 mt-4 space-x-8">

      <p class="hidden font-black transform cursor-pointer text-md lg:flex hover:scale-105 opacity-80 hover:opacity-100">Registrate</p>
      <button class="hidden h-6 px-2 text-sm font-bold tracking-widest text-center text-white transform lg:flex bg-salmon opacity-80 hover:opacity-100 hover:scale-105">Iniciar Sesión</button>


    <img class="h-4 cursor-pointer mt-1 opacity-80 hover:opacity-100 hover:scale-105" src="assets/img/header/lineasMenu.png" alt="">
  </div>
</div>

<!--Header End-->

<div class="flex flex-col w-full">
  <p class="w-full mt-8 tracking-wider text-center">Reservándonos</p>
  <p class="w-full text-2xl font-black tracking-wider text-center lg:text-4xl">Armamos tu Plan Ideal</p>
  <div class="w-full mx-auto lg:w-2/3">
    <img  class="mt-12 rounded-md" src="assets/img/header/hero.jpg" alt="">
    <p class="w-full mt-16 mb-12 text-xl font-bold lg:text-3xl">Encuentranos alrededor del Mundo</p>
    <app-carousel-country></app-carousel-country>
    <p class="w-full mt-8 text-center lg:text-2xl">Reservándonos es una plataforma de resservas para:</p>

    <div class="flex flex-col w-full mt-8 text-center lg:text-2xl lg:flex-row">

      <div class="lg:w-1/4">
        <span class="flex flex-col w-full ">
          <img class="hidden w-16 mx-auto transform scale-125 lg:block" src="assets/img/globalIcons/restaurantes.png" alt="">
          <p class="lg:mt-6">Restaurantes</p>
        </span>
      </div>
      <div class="lg:w-1/4">
        <span class="flex flex-col w-full ">
          <img class="hidden w-12 h-12 mx-auto lg:block" src="assets/img/globalIcons/bares.png" alt="">
          <p class="mt-4">Bares</p>
        </span>
      </div>
      <div class="lg:w-1/4">
        <span class="flex flex-col w-full ">
          <img class="hidden w-12 h-12 mx-auto lg:block" src="assets/img/globalIcons/antros.png" alt="">
          <p class="mt-4">Antros</p>
        </span>
      </div>
      <div class="lg:w-1/4">
        <span class="flex flex-col w-full ">
          <img class="hidden w-12 h-12 mx-auto lg:block" src="assets/img/globalIcons/beachClubs.png" alt="">
          <p class="mt-4">Beach Clubs</p>
        </span>
      </div>
    </div>
    <p class="w-full mt-8 text-center lg:text-2xl">La cual te ofrece una guía completa y
      personalizada con beneficios al realizar una reserva.
    </p>
    <p class="w-full mt-16 text-xl font-black tracking-wider lg:text-3xl">Nuestro Alcance</p>

    <div class="flex w-full mt-12">
      <img class="object-cover w-2/5 pr-4 rounded-2xl lg:pr-8 lg:w-1/2" src="assets/img/globalSection/uno.jpg" alt="">
      <div class="flex flex-col w-3/5 lg:w-1/2">
        <img class="object-cover h-full rounded-2xl w-img" src="assets/img/globalSection/dos.jpg" alt="">
        <img class="object-cover h-32 mt-4 rounded-2xl lg:mt-8 w-img" src="assets/img/globalSection/tres.jpg" alt="">
      </div>
    </div>
    <div class="flex flex-col w-full mt-16">
      <span class="flex flex-col lg:flex-row">
      <div class="flex flex-col lg:w-1/3">
        <span class="flex justify-center w-full">
          <img  src="assets/img/globalIcons/uno.png" alt="">
        </span>
        <p class="mx-auto mt-2 font-bold tracking-widest lg:text-2xl">Reservaciones</p>
        <p class="mx-12 mt-2 text-center lg:text-2xl opacity-60">Más de 15 mil reservas realizadas en la plataforma al mes.</p>
      </div>
      <div class="flex flex-col mt-8 lg:w-1/3 lg:mt-0">
        <span class="flex justify-center w-full">
          <img  src="assets/img/globalIcons/dos.png" alt="">
        </span>
        <p class="mx-auto mt-2 font-bold tracking-widest lg:text-2xl">Personas Enviadas</p>
        <p class="mx-12 mt-2 text-center lg:text-2xl opacity-60">Enviamos mas de 50 mil personas a restaurantes al mes.</p>
      </div>
      <div class="flex flex-col mt-8 lg:w-1/3 lg:mt-0">
        <span class="flex justify-center w-full">
          <img  src="assets/img/globalIcons/tres.png" alt="">
        </span>
        <p class="mx-auto mt-2 font-bold tracking-widest lg:text-2xl">Show</p>
        <p class="mx-12 mt-2 text-center lg:text-2xl opacity-60">Contamos con un 75% de show en las reservaciones realizadas.</p>
      </div>

      </span>
      <span class="flex flex-col mt-8 lg:mt-12 lg:flex-row">
        <div class="flex flex-col lg:w-1/3">
          <span class="flex justify-center w-full">
            <img  src="assets/img/globalIcons/cuatro.png" alt="">
          </span>
          <p class="mx-auto mt-2 font-bold tracking-widest lg:text-2xl">Alcance Orgánico</p>
          <p class="mx-12 mt-2 text-center lg:text-2xl opacity-60">Más de 1 millón de impresiones generadas en canales de búsqueda.</p>
        </div>
        <div class="flex flex-col mt-8 lg:w-1/3 lg:mt-0">
          <span class="flex justify-center w-full">
            <img  src="assets/img/globalIcons/cinco.png" alt="">
          </span>
          <p class="mx-auto mt-2 font-bold tracking-widest lg:text-2xl">Presencia</p>
          <p class="mx-12 mt-2 text-center lg:text-2xl opacity-60">Trabajamos en 18 de los 32 estados del país.</p>
        </div>
        <div class="flex flex-col mt-8 lg:w-1/3 lg:mt-0">
          <span class="flex justify-center w-full">
            <img  src="assets/img/globalIcons/sies.png" alt="">
          </span>
          <p class="mx-auto mt-2 font-bold tracking-widest lg:text-2xl">Imapactos Digitales</p>
          <p class="mx-12 mt-2 text-center lg:text-2xl opacity-60">Obtenemos mas de 500 mil impactos digitales al mes.</p>
        </div>
      </span>
    </div>
    <p class="w-full mt-16 text-xl font-black tracking-wider lg:text-3xl">Destacados</p>
    <div class="flex flex-col w-full mt-12 lg:flex-row">
      <img class="lg:pr-4 lg:w-1/2" src="assets/img/globalSection/cuatro.png" alt="">
      <p class="w-full mt-16 tracking-tight text-center lg:hidden">Lugares que a nuestros comensales les encantan.</p>
      <img class="mt-16 lg:pl-4 lg:w-1/2 lg:mt-0" src="assets/img/globalSection/cinco.png" alt="">
    </div>

    <p class="hidden w-full mt-16 text-2xl tracking-wider text-center lg:block">Lugares que a nuestros comensales les encantan.</p>

    <p class="w-full mt-16 text-2xl font-black tracking-wider lg:text-3xl">Lo más nuevo</p>
    <div class="flex flex-col w-full mt-12 lg:flex-row">
      <img class="rounded-2xl lg:pr-4 lg:w-1/2" src="assets/img/globalSection/sies.jpg" alt="">
      <p class="w-full mt-16 text-lg tracking-tight text-center lg:hidden">Descubre nuestras nuevas experiencias.</p>
      <img class="mt-16 rounded-2xl lg:pl-4 lg:w-1/2 lg:mt-0" src="assets/img/globalSection/siete.jpg" alt="">
    </div>
    <p class="hidden w-full mt-16 text-2xl tracking-wider text-center lg:block">Descubre nuestras nuevas experiencias.</p>
  </div>


</div>
