<div class="flex w-full py-32 bg-white">
  <span class="flex w-2/3 mx-auto text-sm font-bold text-center lg:text-lg ">
    <span class="flex w-1/4">
      <img class="h-24"  src="assets/img/section/iconOne.png" alt="">
      <p class="pt-4 pl-4 opacity-80">Eventos <br> Especiales</p>
    </span>
    <span class="flex w-1/4">
      <img class="h-24" src="assets/img/section/iconTwo.png" alt="">
      <p class="pt-8 pl-4 opacity-80">Cumpleaños</p>
    </span>
    <span class="flex w-1/4">
      <img class="h-24" src="assets/img/section/iconThree.png" alt="">
      <p class="pt-8 pl-4 opacity-80">Cantabares</p>
    </span>
    <span class="flex w-1/4 ">
      <img class="h-24" src="assets/img/section/iconFour.png" alt="">
      <p class="pt-4 pl-4 opacity-80">Festejos <br> Navideños</p>
    </span>

  </span>
</div>
